<% @page_title = "Rails4newbies | Signup" %>
<div class="sign_form">
	<h3>Sign Up</h3>
	<div class="sign_up">
		<%= form_for @user do |f| %>
			<div class="input_form">
				<%= f.text_field :username, :placeholder => "Name"%>
				<%= f.text_field :email, :placeholder => "Email"%>
				<%= f.password_field :password, :placeholder => "Password"%>
				<%= f.password_field :password_confirmation, :placeholder => "Confirmation Password"%>
			</div>
			
			<%= button_tag( :class=> 'waves-effect waves-light btn-large') do %>
				signup
			<% end %>
			
		<% end %>
	</div>
	</div>
	<div>
		<% if @user.errors.any? %>
			<ul class="Signup_Errors">
				<% for message_error in @user.errors.full_messages %>
					<li>* <%= message_error %></li>
				<% end %>
			</ul>
		<% end %>
	</div>
</div>